language: python
python:
  - "2.7"
  - "3.4"

notifications:
  email: false

before_install:
  # Newer cmake 
  - sudo add-apt-repository ppa:plfiorini/cmake

  - sudo apt-get update -qq
  - sudo apt-get install nodejs
  - sudo apt-get install build-essential
  - sudo apt-get install git-core
  - sudo apt-get install default-jre
  - sudo apt-get install cmake

  # This version is probably older than desireable . . .
  - sudo apt-get install libmozjs185-1.0 libmozjs185-dev

  # Required by spidermonkey install below
  # - sudo apt-get install autoconf2.13
  # - autoconf --version

  # Newer cmake
  - cd ~
  - wget http://www.cmake.org/files/v3.0/cmake-3.0.2-Linux-i386.sh
  - sudo bash cmake-3.0.2-Linux-i386.sh --skip-license --prefix="/usr/"
  - ls /usr/bin

  # spidermonkey 
  # - wget http://ftp.mozilla.org/pub/mozilla.org/js/mozjs17.0.0.tar.gz
  # - tar xfz mozjs17.0.0.tar.gz
  # - cd mozjs17.0.0/js/src
  # - autoconf
  # - mkdir build_OPT.OBJ; cd build_OPT.OBJ
  # - ../configure
  # - make -j2

  # Sanity checks
  - gcc --version
  - cmake --version

install:
  # emscripten-fastcomp
  - cd ~
  - git clone https://github.com/kripken/emscripten-fastcomp
  - cd emscripten-fastcomp
  - git clone https://github.com/kripken/emscripten-fastcomp-clang tools/clang
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD="X86;JSBackend" -DLLVM_INCLUDE_EXAMPLES=OFF -DLLVM_INCLUDE_TESTS=OFF -DCLANG_INCLUDE_EXAMPLES=OFF -DCLANG_INCLUDE_TESTS=OFF
  - make -j2

  # Setup the config file.
  - printf "LLVM_ROOT='`pwd`/bin\n'" >> ~/.emscripten
  - printf "TEMP_DIR='/tmp'\n" >>  ~/.emscripten
  - cd ~

# command to run tests
before_script:
  - cd emscripten
script: 
  - python emcc -v
  - python tests/runner.py
